.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.back {
    display: flex;
    flex-direction: row;
}
.icon_back {
    font-size: 40px;
    color: #375539;
    position:relative;
    left:102px;
}
.back_text {
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    position: relative;

    right: -105px;
    bottom: -9px
}
.back_again{
    color: #000000;
}
a.back_again {
    color:#000000;
    text-decoration: none;
    user-select: none;
}
.a.back_again:hover {
    color:#000000;
}
a.back_again:active {
    color: #000000;
}
a.back_again:visited {
    color: black;
}
.header_text {
    display: flex;
    flex-direction: column;
}

.up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    position: relative;
    right: 63px;
    top: 20px;

}


a.puk {
    text-decoration: none;
    user-select: none;
    color: #da7541;
}

a.puk:active {
    color: #da7541;
}
a.puk:hover {
    color: #da7541;
}
a.puk:visited {
    color: #da7541;

}
.main_catalog {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 5px #90c05a;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 106px;
    margin-right: 850px

}
.header_catalog {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.header_delivery {
    font-family: 'Roboto', sans-serif;
}

.header_about_shop {
    font-family: 'Roboto', sans-serif;
}

.header_contact {
    font-family: 'Roboto', sans-serif;
}

.header_adress {
    position: relative;
    left: 40px;
    font-family: 'Roboto', sans-serif;
    top: -10px
}

.material-symbols-outlined {
    position: relative;
    top: 2px;
    color: #da7541;
}

.down {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: -40px;
}

.header_irrigators {
    position: relative;
    right: 150px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.header_oral-b {
    position: relative;
    right: 80px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.header_ortho {
    position: relative;
    right: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.header_logo {
    position: relative;
    right: -110px;
    font-size: 20px;
    top: 5px;
}

a.part1 {
    user-select: none;
    text-decoration: none;
}

a.part1:active {
    color: #000000;
}

a.part1:hover {
    color:  #000000;

}
a.part1 {
    color:  #000000;
}
a.part2 {
    user-select: none;
    text-decoration: none;
}
a.part1:active {
    color:  #000000;
}

a.part1:hover {
    color:  #000000;

}
a.part1 {
    color:  #000000;
}
a.part1 {
    user-select: none;
    text-decoration: none;
}

a.part2:active {
    color:  #000000;
}

a.part2:hover {
    color:  #000000;

}
a.part2 {
    color:  #000000;
}
a.part3 {
    user-select: none;
    text-decoration: none;
}

a.part3:active {
    color:  #000000;
}

a.part3:hover {
    color:  #000000;

}

a.part3 {
    color:  #000000;
}
.gallery {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.gallery_img_1 {
    overflow: hidden;
}

.gallery_img_1:hover {
    transform: scale(1.1);
}

.gallery_img_1.img {
    transition: transform 0.1s;
}

.gallery_img_2 {
    overflow: hidden;
}

.gallery_img_2:hover {
    transform: scale(1.1);
}

.gallery_img_2.img {
    transition: transform 0.1s;
}

.gallery_img_3 {
    overflow: hidden;
}

.gallery_img_3:hover {
    transform: scale(1.1);
}

.gallery_img_3.img {
    transition: transform 0.1s;
}

.text_1 {
    color: #000000;
}

a.text_1 {
    color: #000000;
}

a.text_1 {
    user-select: none;
    text-decoration: none;
}

a.text_1:active {
    color: #000000;
}

a.text_1:hover {
    color: #000000;

}

.text_2 {
    color: #000000;
}

a.text_2 {
    color: #000000;
}

a.text_2 {
    user-select: none;
    text-decoration: none;
}

a.text_2:active {
    color: #000000;
}

a.text_2:hover {
    color: #000000;
}

.text_3 {
    color: #000000;
}

a.text_3 {
    color: #000000;
}

a.text_3 {
    user-select: none;
    text-decoration: none;
}

a.text_3:active {
    color: #000000;
}

a.text_3:hover {
    color: #000000;
}
.owl {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    text-align: center;
    background-color: #efeaf0;
    border-radius: 15px;
    padding: 6px;
}

.owl:hover {
    background-color: lightgray;
    transition: 1s;
}

.info_about_us {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 5px #90c05a;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 106px;
    margin-right: 850px
}

.info {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 45px;
    text-align: center;
}

.info_contact {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 5px #90c05a;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 106px;
    margin-right: 850px
}

.contacts {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.owl_1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 18px;
    text-align: left;
    width: 200px;
    height: 200px;
}

.social_media {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 5px #90c05a;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 106px;
    margin-right: 850px
}

.social_icons {
    display: flex;
    flex-direction: row;
    margin-left: 125px;
}

.insta {
    width: 40px
}

.facebook {
    width: 40px;
    position: relative;
    left: 10px;
}

.delivery_info {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 5px #90c05a;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 106px;
    margin-right: 850px
}

.delivery_text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 32px;
}
.icon_up {
    text-align: right;
}

.up_icon {
    font-size: 50px;
    position: relative;
    top: -160px;
}
.fa {
    font-size: 30px;
    line-height: 50px;
    width: 50px;
    margin: 10px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.border {
    position: absolute;
    display: block;
    transition-duration: 2s;
}

.top {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
}

.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
}

.left {
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 3px;
    background: black;
}

.right {
    top: 100%;
    right: 0;
    height: 100%;
    width: 3px;
    background: black;
}

.fa-facebook:hover,
.fa-instagram:hover {
    transition-duration: 0.3s;
}

.fa-facebook:hover .top,
.fa-instagram:hover .top {
    left: -100%;
}

.fa-facebook:hover .bottom,
.fa-instagram:hover .bottom {
    left: 100%;
}

.fa-facebook:hover .left,
.fa-instagram:hover .left {
    bottom: 0;
}

.fa-facebook:hover .right,
.fa-instagram:hover .right {
    top: 0;
}

.fa-facebook:hover {
    color: #1178f2;
}

.fa-facebook:hover .top,
.fa-facebook:hover .bottom,
.fa-facebook:hover .left,
.fa-facebook:hover .right {
    background-color: #1178f2;
}

.fa-instagram:hover {
    color: #f7375d;
}

.fa-instagram:hover .top,
.fa-instagram:hover .bottom,
.fa-instagram:hover .left,
.fa-instagram:hover .right {
    background-color: #f7375d;
}

.link_inst {
    color:black;
}
a.link_inst {
    color:black;
}
a.link:hover {
    color: #f7375d;
}
a.link_inst:visited {
    color: black;
}
.link_facebook {
    color:black;
}
a.link_facebook {
    color:black;
}
a.link_facebook:hover {
    color: #1178f2;
}
a.link_facebook:visited {
    color:  black;
}